language: python
python:
  - "2.7"
  - "3.3"
  - "3.4"
  - "3.5"
  - "3.6"
install:
  - pip install -r requirements.txt -r requirements-tests.txt
script:
  - py.test --cov=syslog_rfc5424_parser --cov-report=term-missing --cov-fail-under=90 -v tests/
